<div class="sidebar">

    <div class="color">
        <div class="row">
            <div class="col">
                <input (change)="fieldsChange($event)" value="red" type="checkbox" />
            </div>
            <div class="col">
                <p>Red</p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <input (change)="fieldsChange($event)" value="blue" type="checkbox" />
            </div>
            <div class="col">
                <p>Blue</p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <input (change)="fieldsChange($event)" value="black" type="checkbox" />
            </div>
            <div class="col">
                <p>Black</p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <input (change)="fieldsChange($event)" value="white" type="checkbox" />
            </div>
            <div class="col">
                <p>White</p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <input (change)="fieldsChange($event)" value="gray" type="checkbox" />
            </div>
            <div class="col">
                <p>Gray</p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <input (change)="fieldsChange($event)" value="orange" type="checkbox" />
            </div>
            <div class="col">
                <p>Orange</p>
            </div>
        </div>
    </div>
</div>