<div class="search">
    <img src="./../../assets/logos/BMW GROUP.png" class="bmw-logo">
    <img src="./../../assets/logos/velocity logo.png" class="velocity-logo">

    <div class="right">
        <div class="user-details">
            <div class="name">
                <p>{{user.name}} {{user.surname}}</p>
            </div>
            <div class="role">
                <p>{{user.role}}</p>
            </div>
        </div>

        <div class="logout" (click)="logout()">Logout</div>
    </div>
</div>