/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: BMW;
  src: url(./assets/BMWTypeNextPro-Regular.woff);
}

html {
  body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: BMW;
  }
}

h1,
h2,
h3,
p {
  font-family: BMW;
}
